* {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

i.fas.fa-chevron-down::before {
  padding-left: 5px;
  font-size: 13px;
}

i.fas.fa-pen::before {
  padding-right: 5px;
}

.mainTitle {
  /* font-family: 'PT Serif'; */
  font-family: 'Pasajero';
  /* margin-right: 200px; */
  padding: 8px 25px;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: black;
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  white-space: nowrap;
  font-size: 18px;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}

.button {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /* margin: 4px 2px; */
  cursor: pointer;
  float: right;
  margin-left: 25px;
  font-family: 'Source Sans Pro', sans-serif;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover, .dropdown:hover .dropbtn {
  color: #BF5700;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  /* min-width: 196px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #BF5700;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.parallax {
  background: url('resources/cover.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* margin-left: 50%; */
  /* transform: translateX(-50%); */
}

.headerPragraph {
  margin: 0px 100px 70px 100px;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.specialtyTitles {
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 25px 25px 15px 25px;
  text-align: center;
}

.text {
  /* margin-top: 200px; */
  font-family: 'Source Sans Pro', sans-serif;
  padding: 25px;
}

header {
  margin: 25px;
}

/* Middle bar STARTS */
button {
  background-color: #202c43;
  border: none;
  color: white;
  padding: 30px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}

.active  {
  color: #BF5700;
}

.btn:hover{color: #BF5700;}

#demo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 20px 100px;
  text-align: left;
  line-height: 30px;
}
button:first-child {padding-left: 30px;}

.line:not(:last-child):after {
  content: " | ";
  padding: 0px 30px;
  color:white;
}

button:focus {outline: 0;}

.middleBar {
  background-color: #202c43;
  text-align: center;
}

/* Middle bar ENDS */

/* Footer STARTS */
html, body {
  height: 100%;
  margin: 0;
}

.container {
  margin: 0 auto;
  background: white;
  font-size: 24px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.footer {
  height: 80px;
  padding: 20px;
  text-align: center;
}

.footerCopyText {
  margin-top: 10px;
}

footer {
  background: #202c43;
  color: white;
  padding: 0 20px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 100px;
}

.footerLi {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 25px;
  text-decoration: underline;
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.test {
  text-align: center;
}

.buttonF {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Footer ENDS */
