/* Title */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

/* Body */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');


*{
  margin: 0;
}

i.fas.fa-chevron-down::before {
  padding-left: 5px;
  font-size: 13px;
}

i.fas.fa-pen::before {
  padding-right: 5px;
}

.mainTitle {
  /* font-family: 'PT Serif'; */
  font-family: 'Pasajero';
  /* margin-right: 200px; */
  padding: 8px 25px;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: black;
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  white-space: nowrap;
  font-size: 18px;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}

.button {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /* margin: 4px 2px; */
  cursor: pointer;
  float: right;
  margin-left: 25px;
  font-family: 'Source Sans Pro', sans-serif;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover, .dropdown:hover .dropbtn {
  color: #BF5700;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  /* min-width: 196px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #BF5700;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.parallax {
  background: url('resources/cover.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* margin-left: 50%; */
  /* transform: translateX(-50%); */
}

.headerPragraph {
  margin: 0px 100px 70px 100px;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.specialtyTitles {
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 25px 25px 15px 25px;
  text-align: center;
}

.text {
  /* margin-top: 200px; */
  font-family: 'Source Sans Pro', sans-serif;
  padding: 25px;
}

header {
  margin: 25px;
}

/**************PAGE**************/

.grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.pastProjects {
    background-color: #D8D2D2;
    max-width: 100%;
    height: 100%;
    padding-bottom: 100px;
    
}

.pastProjects h1 {
    font-family: "Raleway";
    font-size: 30px;
    margin: 0px 60px;
    padding: 50px 0 10px 0;
}

.pastProjects h2 {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 300;
    margin: 0px 0px 40px 60px;
}

#upload {
    background-color: #E06E1B;
    font-family: 'Raleway', serif;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 9px 17px;
    float: right;
    display: inline-block;
    margin: -90px 50px 50px 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

#upload:hover {
    background-color: #a75a00;
    opacity: 0.8;
}

i.fas.fa-upload::before {
    padding-right: 7px;
}

.centered {
    color: white;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    text-align: center;
    transform: translate(0, -180px);
}

.eachProject {
    background-color: #fff;
    margin: 20px 10px 90px 60px;
    max-width: 350px;
    height: 350px;
    border-radius: 20px;
    font-family: "Raleway";
    display: inline-block;
    text-decoration: none;
    color: black;
}

.eachProject img {
    width: 350px;
    max-height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.eachProject a {
    text-decoration: none;
}

.eachProject a:hover {
    opacity: 0.9;
}

/******************FOOTER*****************/
  
/* Footer STARTS */
.container {
  margin: 0 auto;
  background: white;
  font-size: 24px;
  min-height: 100%;
}

.footer {
  height: 80px;
  padding: 20px;
  text-align: center;
}

.footerCopyText {
  margin-top: 10px;
}

footer {
  background: #202c43;
  color: white;
  padding: 0 20px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.footerLi {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 25px;
  text-decoration: underline;
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.test {
  text-align: center;
}

.buttonF {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Footer ENDS */
