/* Title */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

/* Body */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');


*{
  margin: 0;
}

i.fas.fa-chevron-down::before{
  padding-left: 5px;
  font-size: 13px;
}

i.fas.fa-pen::before{
  padding-right: 5px;
}

.mainTitle {
  /* font-family: 'PT Serif'; */
  /* margin-right: 200px; */
  padding: 8px 25px;
  font-size: 20px;
  font-family: 'Libre Baskerville', sans-serif;
  text-decoration: none;
  color: black;
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
}

.button {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /* margin: 4px 2px; */
  cursor: pointer;
  float: right;
  margin-left: 25px;
  font-family: 'Raleway', sans-serif;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  white-space: nowrap;
  font-size: 14px;
  float: right;
  font-family: 'Raleway', sans-serif;
}



/* li:last-child {
  border-right: none;
} */

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 16px;
}

li a:hover, .dropdown:hover .dropbtn {
color: #BF5700;}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  /* min-width: 196px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #BF5700;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h2.specialtyTitles {
  font-size: 1.5em;
  float: left;
  font-family: 'Raleway', sans-serif;
  padding: 25px;
  text-align: center;

}

.text {
  /* margin-top: 200px; */
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  font-weight: 200;
    line-height: 1.4em;
  padding: 25px;

}




.container {
    /* max-width: 960px; */
    margin: 0 auto;
    background: white;
    font-size: 24px;
    /* padding: 25px; */
  }

  .parallax{
    background: url('resources/cover.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    padding: 0;
    margin: 0;
  }

  .parallax2{
    background: url('img1.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    padding: 0;
    margin: 0;
  }

header {
  margin: 25px;
}

/**************COURSE REVIEW PAGE**************/

/* Class Description */ 
.classDescription {
    background-color: #D8D2D2;
}

#courseName {
    margin: 0 auto;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Raleway', serif;
    font-size: 1.3em;
}

#instructorName {
    font-family: 'Raleway', serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 100px;
}

.classContent {
    display: inline-block;
    vertical-align: middle;
}

#classImage {
    width: 400px;
    margin: 30px 50px 50px 100px;
    float: left;
    border-radius: 10px;
}

#aboutClass {
    font-family: 'Raleway', serif;
    font-size: 15px;
    line-height: 1.5em;
    margin-top: 30px;
    margin-right: 150px;
    margin-bottom: 100px;
}

#syllabus {
    font-family: 'Raleway', serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5em;
}

.syllabiButton {
    background-color: #E06E1B;
    font-family: 'Raleway', serif;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

a#syllabus {
    text-decoration: none;
}

/* Past Projects */
.pastProjects {
    background-color: #F0F0ED;
}

#titleProject {
    font-family: 'Raleway', serif;
    font-size: 1.3em;
    margin-left: 100px; 
    padding-top: 40px;
}

.studentproj {
    text-align: justify;
    width: 300px;
}

.studentproj img {
    width: 300px;
    height: 200px;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    margin: 30px 100px 10px 100px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
    display: block;
}

.studentproj figcaption {
    font-family: 'Raleway';
    font-size: 15px;
    width: 300px;
    text-align: center;
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 50px;
}



/* Student Reviews */

.studentReviews {
    background-color: #D8D2D2;
    padding-bottom: 70px;
}

#titleReviews {
    font-family: 'Raleway', serif;
    font-size: 1.3em;
    margin-left: 100px; 
    padding-top: 40px;
}

.review {
    background-color: #ffffff;
    font-family: 'Raleway', serif;
    font-size: 0.7em;
    height: 350px;
    width: 1220px;
    border-radius: 15px;
    margin: 60px 110px 0 110px;
    display: inline-block;
}


#avatar {
    max-width: 200px;
    margin: 70px 50px 50px 60px;
    display: inline-block;
    float: left;
}

#ratings_col1 {
/*    margin: 30px 10px;*/
    margin-top: 70px;
    margin-left: 90px;
    line-height: 2.3em;
    display: inline-block;
}

#ratings_col2 {
    margin-left: 200px;
    line-height: 2.3em;
    display: inline-block;
}

.bold {
    font-weight: 700;
}

.freq {
    font-weight: 500;
    margin-left: 40px;
}

.answer {
    font-weight: 400;
}

#studentname {
    float: left;
}






/******************FOOTER*****************/

  /* Footer STARTS */
  html, body {
    height: 100%;
    margin: 0;
  }

  .content {
    min-height: 100%;
    margin: 0 auto -50px;
  }

  .footer {
    height: 100px;
  }

  footer {
    background: #1b1b1b;
    color: white;
    line-height: 100px;
    padding: 0 20px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }

  /* Footer ENDS */
